# dependencies
node_modules/

# environment variables
.env

# logs
*.log

# build folders (future safety)
dist/
build/

# python artifacts
__pycache__/
*.pyc
.venv/
venv/
python_reviewer/.venv/
python_reviewer/.venvcl/

walkthrough.md
ngrok.exe
